.searchInput {
    width: 95%;
    height: auto;
    max-width: 79.17vw;
    border-radius: 32px;
    margin-top: 2vw;
    margin-left: 5vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
    font-size: 16px;
    padding-left: 0.52vw;
    padding-bottom: 0.87vh;
    padding-top: 0.87px;
  }
  
  /* Add media query styles for smaller screens */
  @media (max-width: 800px) {
    .searchInput {
      min-width: 1200px;
      overflow-x: auto;
      overflow-y: hidden;
    }
  }
  
  .scrollable {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none; /* hide the default scrollbar */
    white-space: nowrap;
    /* margin-top: -1.5vw; */
    font-weight: bold; /* Make the text bold */
  }
  
  /* add a custom scrollbar style */
  .scrollable::-webkit-scrollbar {
    width: 15vw;
    height: 5px;
  }
  
  .scrollable::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
  }
  
  .scrollable::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }